.small_heading_product {
  font-family: cursive;
  font-size: 25px;
  margin: 0;
  @media only screen and (max-width: 320px) {
    font-family: cursive;
    margin: 0 auto;
    font-size: 12px;
  }
  @media only screen and (max-width: 420px) {
    margin: 0 auto;
    font-size: 12px;
  }
  @media only screen and (max-width: 768px) {
    font-size: 20px;
  }
  @media only screen and (max-width: 1024px) {
    font-size: 20px;
  }
}
.product_containn {
  width: 35%;
  right: 0;
  top: 10px;
  float: right;
  @media only screen and (max-width: 320px) {
    width: 90% !important;
    top: 180px !important;
  }
  @media only screen and (max-width: 375px) {
    width: 85% !important;
    top: 210px !important;
    left: 30px !important;
  }
  @media only screen and (max-width: 390px) {
    width: 85%;
    top: 190px;
    left: 30px;
  }
  @media only screen and (max-width: 420px) {
    width: 80%;
    top: 230px;
    left: 50px;
    padding: 0px;
  }
  @media only screen and (max-width: 768px) {
    width: 42%;
    top: 0px;
    padding: 30px 10px 0 0px;
  }
  @media only screen and (max-width: 1024px) {
    width: 40%;
    padding: 30px 15px 0 0px;
  }
  @media only screen and (max-width: 1440px) {
    top: 0px;
    padding: 90px 100px 0 0px;
  }
}
.product_flexx {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.heading_product {
  font-size: 35px;
  color: white;
  margin: 0;
  @media only screen and (max-width: 420px) {
    margin: 5px auto;
    font-size: 15px;
  }
  @media only screen and (max-width: 768px) {
    font-size: 27px;
  }
  @media only screen and (max-width: 1024px) {
    font-size: 30px;
  }
}
.text_product {
  font-size: 20px;
  color: white;
  margin: 0;
  @media only screen and (max-width: 420px) {
    margin: 0px auto;
    font-size: 12px;
  }
  @media only screen and (max-width: 768px) {
    font-size: 14px;
  }
  @media only screen and (max-width: 1024px) {
    font-size: 16px;
  }
}
.birdland_img {
  width: 54.4%;
  @media only screen and (max-width: 320px) {
    height: 200px !important;
  }

  @media only screen and (max-width: 375px) {
    height: 230px !important;
  }
  @media only screen and (max-width: 390px) {
    height: 200px;
  }
  @media only screen and (max-width: 420px) {
    top: 0px;
    width: 100%;
    height: 250px;
  }
  @media only screen and (max-width: 768px) {
    top: 20px;
    height: 380px;
  }
  @media only screen and (max-width: 1024px) {
    top: 20px;
    height: 390px;
  }
  @media only screen and (max-width: 1440px) {
    top: 30px;
    height: 520px;
  }
}
