.about_bg {
  background-image: url(/public/image/WhatsApp\ Image\ 2023-09-09\ at\ 13.59.30.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 370px;
  margin: 0;
}
.about_heading {
  margin: 0;
  padding: 100px 0 0 0;
  text-align: center;
  font-size: 50px;
  color: white;
}
.about_sub_heading {
  margin: 10px 0 0 0;
  color: white;
  text-align: center;
}
.about_text {
  width: 85%;
  margin: 30px auto;
  font-size: 18px;
}
.about_sentence {
  width: 85%;
  margin: 0 auto 50px auto;
  font-size: 18px;
}
.plan_flex {
  display: flex;
  margin-bottom: 70px;
}
.plan_bg {
  background-color: rgb(245, 245, 245);
  width: 100%;
}
.plan_heading{
    font-size: 40px;
    color: rgb(255, 67, 40);
    padding: 100px 0 0 100px;
}
.plan_text{
    width: 65%;
    font-size: 20px;
    margin: 0 0 0 100px;
}
.vision{
    font-size: 40px;
    color: rgb(255, 67, 40);
    padding: 70px 0 0 100px;
}
.vision_text{
    width: 70%;
    font-size: 18px;
    margin: 0 0 30px 100px;
}
.mision{
  width: 100%;
}
.eye_container_flex{
  display: flex;
  width: 90%;
  margin: 0px auto ;
  align-items: center;
  justify-content: center;
}
.eye_flex{
  display: flex;
}
.aim_img{
  width: 40%;
}
.eye_heading{
    width: 50%;
    font-size: 50px;
    color: rgb(255, 67, 40);
    margin: 0 0 0 20px;
}
.eye_text{
    margin: 20px 0 0 30px;
}
.aim_text{
    font-size: 20px;
}
.aim_flex{
  display: flex;
}
.aim_name{
  color:  rgb(255, 67, 40);
  margin: 0 ;
  font-size: 40px;
}
@media only screen and (max-width: 420px) {
  .about_bg {
    height: 130px;
  }
  .about_heading {
    padding: 50px 0 0 0;
    font-size: 20px;
  }
  .about_sub_heading {
    margin: 0px 0 0 0;
font-size: 7px;
  }
  .about_text {
    margin: 20px auto ;
    font-size: 13px;
  }
  .about_sentence {
    width: 88%;
    font-size: 13px;
    margin: 0 auto 20px auto;
  }
  .plan_flex {
   margin: 0 0 20px 30px;
  }
  .plan_bg {
    width: 60%;
    height: 150px;
  }
  .plan_heading{
      font-size: 18px;
      padding: 5px 0 0 20px;
      margin: 15px 0  0 0 ;
  }
  .plan_text{
      width: 80%;
      font-size: 9px;
      margin: 10px 0 0 20px;
  }
  .vision{
      font-size: 18px;
      padding: 10px 0 0 20px;
      margin: 5px 0;
  }
  .vision_text{
      width: 80%;
      font-size: 8px;
      margin: 0 0 0px 20px;
  }
  .mision{
    width: 35%;

  }
  .aim_flex{
    display: block;
  }
  .eye_flex{
    display: block;
  }
  .eye_container_flex{
    display: flex;
    align-items: center;
  }
  .eye_heading{
      width: 80%;
      font-size: 15px;
      margin: 0 0 0 30px;
  }
  .eye_text{
      margin: 5px 0 0 30px;
      font-size: 10px;
  }
  .aim_text{
      font-size: 10px;
  }
  .aim_img{
    width: 80%;
  }
  .aim_name{
    font-size: 20px;
  }
  }