.bg {
  background-color: rgb(248, 248, 248);
  width: 100%;
  height: 600px;
  position: relative;
  display: flex;
  @media only screen and (max-width: 420px) {
    display: block !important;
    margin: 0 !important;
    height: 600px !important;
  }
  @media only screen and (max-width: 390px) {
    height: 570px !important;
  }
  @media only screen and (max-width: 768px) {
    margin: 0px !important;
    height: 360px !important;
  }
  @media only screen and (max-width: 1024px) {
    margin: 0px !important;
    height: 460px !important;
  }
  @media only screen and (max-width: 1440px) {
    margin: 0px !important;
    height: 560px !important;
  }
}
.design_bg {
  background-color: rgb(254, 254, 254);
  width: 100%;
  height: auto;
  margin: 0 auto;
  @media only screen and (max-width: 320px) {
    height: 20px !important;
  }
  @media only screen and (max-width: 390px) {
    height: 340px;
  }
  @media only screen and (max-width: 420px) {
    height: 340px !important;
    margin: 0 auto;
  }
  @media only screen and (max-width: 768px) {
    height: 510px !important;
    margin: 0 auto !important;
  }
  @media only screen and (max-width: 1024px) {
    height: 510px !important;
    margin: 0 auto !important;
  }
  @media only screen and (max-width: 1440px) {
    height: 750px !important;
    margin: 0 auto !important;
  }
}
.bg_product {
  background-image: url(/public//image//Group\ 151.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin: 40px auto 0 0;
  height: 550px;
  position: relative;
  @media only screen and (max-width: 320px) {
    margin: 0px auto 0 0;
    height: 400px !important;
  }
  @media only screen and (max-width: 390px) {
    height: 400px;
  }
  @media only screen and (max-width: 420px) {
    margin: 0px auto;
    height: 420px !important;
  }
  @media only screen and (max-width: 768px) {
    margin: 0px auto !important ;
    height: 400px !important;
  }
  @media only screen and (max-width: 1024px) {
    margin: 0px auto !important ;
    height: 430px !important;
  }
  @media only screen and (max-width: 1440px) {
    margin: 0px auto !important ;
    height: 550px !important;
  }
}
.bg_collection {
  background-image: url(/public/image/Group\ 1566.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 680px;
  margin: 0;
  @media only screen and (max-width: 390px) {
    height: 440px;
  }
  @media only screen and (max-width: 420px) {
    height: 480px !important;
    margin: 0;
  }
  @media only screen and (max-width: 768px) {
    height: 480px;
    margin: 0;
  }
  @media only screen and (max-width: 1024px) {
    height: 500px;
    margin: 0;
  }
  @media only screen and (max-width: 1440px) {
    height: 650px;
    margin: 0;
  }
}
