.product_img_flex{
    display: flex;
    align-items: center;
    justify-content: center;

   
}
.chips_img{
    width: 21%;
   margin: 60px 5px ;
}
.ProductImg_small_heading{
    text-align: center;
    color:rgb(255, 85, 60) ;
    font-family: cursive;
   margin: 50px 0 0 0;
}
.ProductImg_heading{
    text-align: center;
    font-size: 40px;
    margin: 0;
}
.ProductImg_text{
    text-align: center;
    color: rgba(0, 0, 0, 0.451);
}