.product_img_flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.chips_img{
    width: 20%;
   margin: 60px 5px ;
}
.ProductImg_small_heading{
    text-align: center;
    color:rgb(255, 85, 60) ;
    font-family: cursive;
   margin: 50px 0 0 0;
}
.chips_img_first{
   width: 20%;
}
.ProductImg_heading{
    text-align: center;
    font-size: 40px;
    margin: 0;
}
.ProductImg_text{
    text-align: center;
    color: rgba(0, 0, 0, 0.451);
    margin: 0 200px;
}
@media only screen and (max-width: 420px) {
    .ProductImg_small_heading{
        text-align: center;
       margin: 25px 0 0 0;
       padding: 8px 0 0 0;
    }
    .chips_img{
        width: 40%;
       margin: 0px 5px ;
       height: 170px;
    }
    .ProductImg_heading{
        font-size: 25px;    
        margin: 0 0 5px 0;

    }
    .ProductImg_text{
        font-size: 11.9px;
        width: 90%;
        margin: 5px auto 10px auto;
    }
   
    .product_img_flex{
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        justify-content: flex-start;
    }
}