.partners_bg_orange {
  background-color: rgb(255, 67, 40);
  width: 100%;
  height: 260px;
  display: flex;
  justify-content: center;
}
.repeat_grid {
  width: 15%;
  height: 55px;
  margin: auto 10px;
}
.partners_small_heading {
  text-align: center;
  margin: 100px 0 0 0;
  font-family: cursive;
  color: rgb(255, 67, 40);
}
.partners_heading {
  text-align: center;
  font-size: 40px;
  margin: 0 0 30px 0;
}
@media only screen and (max-width: 390px) {
  .partners_small_heading {
    margin: 15px 0 0 0;
  }
}
@media only screen and (max-width: 420px) {
  .partners_bg_orange {
    width: 100%;
    height: 70px;
  }
  .repeat_grid {
    width: 18%;
    height: 25px;
    margin: auto 5px;
  }
  .partners_small_heading {
    margin: 15px 0 0 0;
    font-size: 15px;
  }
  .partners_heading {
    font-size: 20px;
    margin: 0px auto 5px 0;
  }
}
/* @media only screen and (max-width: 768px) {
  .partners_bg_orange {
    height: 130px;
  }
  .repeat_grid {
    width: 17%;
    height: 50px;
  }
  .partners_small_heading {
    margin: 40px 0 0 0;
  }
  .partners_heading {
    margin: 0 0 10px 0;
  }
}
@media only screen and (max-width: 1024px) {
  .partners_bg_orange {
    height: 160px;
  }
  .repeat_grid {
    width: 18%;
    height: 60px;
  }
  .partners_small_heading {
    margin: 60px 0 0 0;
  }
  .partners_heading {
    margin: 0 0 10px 0;
  }
}
@media only screen and (max-width: 1440px) {
  .partners_bg_orange {
    height: 200px;
  }
  .repeat_grid {
    width: 17%;
  }
  .partners_small_heading {
    margin: 50px 0 0 0;
  }
} */
