.machine_flex{
    display: flex;
    justify-content: space-evenly;
    margin: 0 ;
}
.machine_img{
    width: 45%;
    margin: 25px 0 0 0;
}
.machine_contain{
    width: 30%;
}
.machine_small_heading{
    margin: 0px 0 10px 0;
    font-family: cursive;
    color:rgb(255, 85, 60) ;
}
.machine_heading{
    margin: 0 ;
    font-size: 35px;
}
.machine_text{
    margin: 20px 0 0 0 ;
    color: rgba(0, 0, 0, 0.542);
    font-size: 19px;
}
.machine_contain{
    width: 33%;
    margin: 0 100px 0 0;

}


@media only screen and (max-width: 420px) {
    .machine_flex{
        display: block;
        margin: 0 ;
    }
    .machine_img{
        width: 90%;
        height: 200px;
        margin: 10px 0 0 15px;
    }
    .machine_contain{
        width: 90%;
        margin: 0 0 0 20px;
    }
    .machine_heading{
        font-size: 25px;
    }
    .machine_text{
        font-size: 15px;
    }
    }
    @media only screen and (max-width: 420px) {
        .machine_img{
            width: 85%;
            margin: 20px 0 0 15px;
        }
        .machine_heading{
            font-size: 22px;
        }
      }