.nav-container {
  font-size: x-large;
  width: 100%;
  background-color: #293d38;
  text-align: center;
  font-weight: 500;
  color: #429d5b;
  padding-bottom: 15px;
}
.app-container {
  background-color: lightgray;
  padding-bottom: 32%;
}
