.collection_flex{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.collection_img{
    width: 34%;
    margin: 80px 0 0 0;
    height: 510px;
}
.collection_contain{
    width:30% ;
    margin: 0 ;
}
.collection_small_heading{
    color: rgb(255, 67, 40);
    margin: 0;
}
.collection_heading{
    font-size: 36px;
    margin: 0;
}
.collection_text{
    font-size: 19px;
    color: rgba(0, 0, 0, 0.5);
    margin: 25px 0 0 0;
}