.btn{
    font-size: 25px;
    background-color: rgb(255, 195, 0);
    color: white;
    padding: 15px 25px;
    border-radius: 30px;
    border: transparent;
    margin-top: 20px;
    margin-left: 100px;
}